.projectTable {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectTable .projectItem {
    border: 2px solid #ccd6f6;
    height: 90%;
    width: 90%;
    display: flex;
    text-decoration: none;
    margin-bottom: 20px; /* Add some space between items */
}

.projectTable .projectItem .imgBorder .image img {
    overflow: hidden;
    transition: transform 0.3s ease; /* Add transition for smooth zoom */
    max-width: 800px;
    max-height: 800px;
}

.projectTable .projectItem .imgBorder{
    border: 2px solid #ccd6f6;
    border-radius: 10px;
    max-width: 800px;
    max-height: 800px;
}
.projectTable .projectItem .image img:hover {
    transform: scale(0.9); /* Zoom out the image on hover */
}

.projectTable .projectItem a {
    text-decoration: none;
    color: #ccd6f6;
    font-size: 20px;
}

.projectTable .projectItem .body {
    color: #8892b0;
    font-size: 20px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin-left: 20px; 
    margin-right : 500px;
}

.projectHeader{
    color: #ccd6f6;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}